<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bantanger.im.domain.friendship.dao.mapper.ImFriendShipMapper">

    <select id="checkFriendShip" parameterType="com.bantanger.im.domain.friendship.model.req.CheckFriendShipReq"
            resultType="com.bantanger.im.domain.friendship.model.resp.CheckFriendShipResp">
        /* if函数，如果传输的 status为 1，则正常，否则转成 0*/
        select from_id as fromId, to_id as toId, if(status = 1,1,0) as status
        from im_friendship
        where app_id = #{appId} and from_id = #{fromId} and to_id in
        <foreach collection='toIds' index='index' item='id' separator=',' open='(' close=')'>
            #{id}
        </foreach>
    </select>

    <select id="checkFriendShipBoth" parameterType="com.bantanger.im.domain.friendship.model.req.CheckFriendShipReq"
            resultType="com.bantanger.im.domain.friendship.model.resp.CheckFriendShipResp">
        select a.fromId, a.toId, (
        case
            when a.status = 1 and b.status = 1 then 1 /*用户 a 和 b 是好友，用户 b 和 a 是好友，为双向好友*/
            when a.status = 1 and b.status != 1 then 2 /*用户 a 和 b 是好友，用户 b 和 a 不是好友，为单向好友*/
            when a.status != 1 and b.status = 1 then 3 /*用户 a 和 b 不是好友，用户 b 和 a 是好友，为单向好友*/
            when a.status != 1 and b.status != 1 then 4 /*用户 a 和 b 不是好友，用户 b 和 a 不是好友，为双向非好友*/
        end) as status from (
            select from_id as fromId, to_id as toId, if(status = 1,1,0) as status
            from im_friendship
            where app_id = #{appId} from_id = #{fromId} and to_id in
            <foreach collection='toIds' index='index' item='id' separator=',' open='(' close=')'>
                #{id}
            </foreach>
        ) as a inner join (
            select from_id as fromId, to_id as toId, if(status = 1,1,0) as status
            from im_friendship
            where app_id = #{appId} to_id = #{fromId} and from_id in
            <foreach collection='toIds' index='index' item='id' separator=',' open='(' close=')'>
                #{id}
            </foreach>
        ) as b
        on a.fromId = b.toId and b.fromId = a.toId
    </select>

    <select id="checkFriendShipBlack" parameterType="com.bantanger.im.domain.friendship.model.req.CheckFriendShipReq"
            resultType="com.bantanger.im.domain.friendship.model.resp.CheckFriendShipResp">
        select from_id as fromId, to_id as toId, if(black = 1, 1, 0) as black
        from im_friendship
        where app_id = #{appId} and from_id = #{fromId} and to_id in
        <foreach collection='toIds' index='index' item='id' separator=',' open='(' close=')'>
            #{id}
        </foreach>
    </select>

    <select id="checkFriendShipBlackBoth" parameterType="com.bantanger.im.domain.friendship.model.req.CheckFriendShipReq"
            resultType="com.bantanger.im.domain.friendship.model.resp.CheckFriendShipResp">
        select a.fromId, a.toId, (
        case
            when a.black = 1 and b.black = 1 then 1 /*用户 a 和 b 是好友，用户 b 和 a 是好友，为双向好友*/
            when a.black = 1 and b.black != 1 then 2 /*用户 a 和 b 是好友，用户 b 和 a 不是好友，为单向好友*/
            when a.black != 1 and b.black = 1 then 3 /*用户 a 和 b 不是好友，用户 b 和 a 是好友，为单向好友*/
            when a.black != 1 and b.black != 1 then 4 /*用户 a 和 b 不是好友，用户 b 和 a 不是好友，为双向非好友*/
        end ) as status from (
            select from_id as fromId, to_id as toId, if(black = 1,1,0) as black
            from im_friendship
            where app_id = #{appId} from_id = #{fromId} and to_id in
            <foreach collection='toIds' index='index' item='id' separator=',' open='(' close=')'>
               #{id}
            </foreach>
        ) as a inner join (
            select from_id as fromId, to_id as toId, if(black = 1,1,0) as black
            from im_friendship
            where app_id = #{appId} to_id = #{fromId} and from_id in
            <foreach collection='toIds' index='index' item='id' separator=',' open='(' close=')'>
                #{id}
            </foreach>
        ) as b
        on a.fromId = b.toId and b.fromId = a.toId
    </select>

</mapper>