<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bantanger.im.domain.group.dao.mapper.ImGroupMemberMapper">
    <select id="getJoinedGroupId" parameterType="map" resultType="java.lang.String">
        select group_id from im_group_member where app_id = #{appId} and member_id = #{memberId}
    </select>

    <select id="getGroupMember" parameterType="map" resultType="com.bantanger.im.domain.group.model.req.GroupMemberDto">
        select member_id, speak_date, role, alias, join_time, join_type
        from im_group_member where app_id = #{appId} and group_id = #{groupId}
    </select>

    <select id="getGroupMemberId" parameterType="map" resultType="java.lang.String">
        select member_id from im_group_member
        where app_id = #{appId} and group_id = #{groupId} and role != 3
    </select>

    <select id="getGroupManager" parameterType="map" resultType="com.bantanger.im.domain.group.model.req.GroupMemberDto">
        select member_id, role from im_group_member
        where app_id = #{appId} and group_id = #{groupId} and role in (1,2)
    </select>

    <select id="syncJoinedGroupId" parameterType="map" resultType="java.lang.String">
        select group_id from im_group_member
        where app_id = #{appId} and member_id = #{memberId} and role != #{role}
    </select>

</mapper>