*/target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
.DS_Store
/docker/mysql/data/
/docker/redis/data/
/logs/
/docker/build/
/docker/mysql/logs/
/im-tcp/logs/
/im-domain/logs/
/im-message-store/logs/